// +-------------------------------------------------------------------------+
// |    helpers.scss                          Small helpers and utilities    |
// +-------------------------------------------------------------------------+

// No arrow indicator for dropdown
.no-indicator {
    &::after {
        display: none;
    }
}

.clickable {
    cursor: pointer !important;
}

.text-monospace {
    font-family: $font-family-monospace !important;
}

.text-serif {
    font-family: $font-family-serif !important;
    font-variant-ligatures: common-ligatures !important;
}

.align-items-normal {
    align-items: normal !important;
}

// Display flags a bit larger
.flag {
    font-size: 1.4rem;
}

// Symbols are often needed at smaller sizes + filled
.icon-1x, .symbol-1x {
    font-size: 1rem !important;
}
.icon-1-25x, .symbol-1-25x {
    font-size: 1.25rem !important;
}
.icon-1-5x, .symbol-1-5x {
    font-size: 1.5rem !important;
}
.symbol-fill {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

    // Remove focus styles (unneeded border around active element)
:focus-visible {
    outline: 0;
    box-shadow: none;
}

// Remove arrows from number input

// Chrome, Safari, Edge, Opera
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Firefox
.no-arrows {
    -moz-appearance: textfield;
}